:root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  font-family: "Open Sans", sans-serif;
}

html {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgb(0, 0, 31), rgb(54, 54, 54));
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

h3 {
  text-transform: capitalize;
}

.logo {
  height: 450px;
  align-self: center;
}

.selected-hero {
  display: flex;
  width: 100vw;
  height: 525px;
  gap: 200px;
  align-items: center;
  position: relative;
}

.selected-img {
  border: white 2px solid;
  margin-left: 50px;
}

.hero-info {
  font-family: "Open Sans", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
}

.description {
  border-left: orange solid 10px;
  width: 335px;
  height: 100px;
  font-weight: 700;
  padding-left: 15px;
  background-color: rgb(255, 255, 255);
  padding: 15px;
  color: rgb(0, 0, 0);
}

.select {
  font-family: "Open Sans", sans-serif;
  color: aqua;
  font-size: 2rem;
  font-weight: 700;
  border-bottom: solid white 2px;
  padding-left: 10px;
  padding-right: 20px;
  align-self: flex-start;
  width: 950px;
}

.hero-select {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  width: 1000px;
  gap: 15px;
}

.hero-img {
  border-radius: 15%;
  height: 65px;
  border: rgb(255, 255, 255) 2px solid;
}

.hero-img:hover {
  box-shadow: 0px 0px 3px 3px white;
  cursor: pointer;
}

.abilities-btn {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18pt;
  position: absolute;
  right: 30px;
  top: 20px;
  z-index: 2;
  background: orange;
  box-shadow: 0px 0px 3px 1px white;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.abilities-btn:hover {
  box-shadow: 0px 0px 4px 2px white;
  background: rgba(255, 166, 0, 0.452);
  color: rgba(255, 255, 255, 0.575);
}

.abilities {
  color: white;
  display: grid;
  grid-template: auto / 1fr 1fr 1fr;
  height: 525px;
  gap: 30px;
}

.ability {
  background-image: linear-gradient(rgb(15, 15, 15), rgb(48, 48, 48));
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12pt;
}

.ability:focus {
  box-shadow: 0px 0px 5px 3px;
}

.ability-img {
  height: 55px;
  margin-top: 30px;
}

.video {
  right: 10%;
  bottom: 12%;
  z-index: 100;
}
